.banner-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  width: 52vw;
  margin-top: 5vh;
}
.subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8vw;
  color: #8c8c8c;
  opacity: 0.4;
  margin: 0;
}
.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 3.8vw;
  color: #333333;
  margin: 0;
  margin-top: 3vh;
}
