.browser-nav-container {
  display: flex;
  flex-direction: row;
  background: #dadada;
  width: 100%;
  height: 4vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  @media only screen and (max-device-width: 600px) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: -1.5px;
    margin-left: -1px;
    width: 89vw;
  }
}

.icon {
  width: 1.5vw;
  height: 1.5vw;
  margin-left: auto;
  cursor: pointer;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 6vw;
  margin-right: 2vw;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  height: 3vw;
  align-self: flex-end;
  background: #dadada;
}

.tab-button {
  display: flex;
  background: #dadada;
  flex-direction: row;
  align-items: center;
  width: 16vw;
  z-index: 100;
  border: none;
  cursor: pointer;
  outline: none !important;
  margin: 0;
}

.tab-icon {
  width: 1vw;
  height: 1vw;
  pointer-events: none;
  margin-left: 1vw;
}

.tab-divider {
  width: 0.1vw;
  height: 2vw;
  margin-left: auto;
  pointer-events: none;
}

.tab-text {
  margin-left: 0.8vw;
  pointer-events: none;
  color: #333333 !important;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  padding-top: 1vw;

  @media only screen and (max-device-width: 600px) {
    padding-top: 4vw;
  }
}

.active-tab {
  background: white;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  margin-bottom: -1px;
}
