.blog-container {
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
  cursor: pointer;
  // justify-content: center;
  margin-left: 7vw;
  margin-bottom: 3vw;
}
.left-container {
  display: flex;
  flex-direction: column;
}
.right-container {
  display: flex;
  flex-direction: column;
  width: 34vw;
  margin-left: 3vw;
}
.blog-image {
  width: 24vw;
  height: 20vh;
  object-fit: cover;
  border-radius: 0.8vw;
}
.blog-cats {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  color: #333333;
  margin-top: 1vw;
}
.blog-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  color: #000000;
  margin-top: 0;
  margin-bottom: 1vw;
  line-height: 120%;
}
.blog-summary {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  color: #000000;
  margin-top: 0vw;
  line-height: 148.5%;
}
