.outer-container {
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 3vw;
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: none;
}
.headline {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 4vw;
  font-size: 3.8vw;
}
.description {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1.2vw;
  padding: 2vw;
  padding-left: 8vw;
  padding-right: 8vw;
  text-align: center;
}
